#container
{
    border-radius: 10vh;
    position: absolute;
    top: 14vh;
    clear: both;
    left: 31vh;
    height: 71vh;
    width: 100vh;
    flex-wrap: wrap;
    overflow: auto;
    background-color: antiquewhite;
    margin-right: 0vh;
    padding-right: 1vh;
}

.left
{
    float: left;
    clear: both;
    margin-left: 3vh;

}

.right
{
    float: right;
    clear: both;
    margin-right: 4vh;
}

.message
{
    background-color: lawngreen;
    display: -webkit-inline-box;
    text-align: center;
    margin-top: 6vh;
    max-width: 31vh;
}
#message
{
    position: absolute;
    top: 86vh;
    left: 34vh;
    height: 6vh;
    width: 91vh;
    border-radius: 10vh;
}
#submit
{
    position: absolute;
    top: 87vh;
    border-radius: 10vh;
    left: 128vh;
    height: 4vh;
    width: 10vh;
}
#copy
{
    width: 10vh;
    background-color: pink;
    top: -9vh;
    opacity:0;
}
.buttons
{
    width: 10vh;
    height: 10vh;
    border-radius: 2vh;

}
.button
{
    width: 17vh;
    height: 3vh;
    margin-top: 6px;
    border-radius: 2vh;
}